.list-container {
  margin: 2%;
  width: 100%;
}

.container {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 1fr;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 769px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}

label,
input {
  font-size: 1.5rem;
}

.character-container {
  width: 70%;
  height: 22em;
  margin: 1em;
  background-color: beige;
  text-align: center;
  border-radius: 15px;
}

.character-thumbnail {
  width: 100%;
  height: 15em;
}

.label-container input {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}
